{:paths ["src/main"]
 :deps  {org.clojure/clojurescript  {:mvn/version "1.10.597"}
         binaryage/oops             {:mvn/version "0.7.0"}
         cljs-bean                  {:mvn/version "1.5.0"}
         com.cognitect/transit-cljs {:mvn/version "0.8.256"}
         

         ; -----
         thheller/shadow-cljs       {:mvn/version "RELEASE"}
         }}
